<!DOCTYPE html>
<html>
<head>
  <title>Lti2Tc</title>
  <%= stylesheet_link_tag    "lti2_tc/application", media: "all" %>
  <%= javascript_include_tag "lti2_tc/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
