<!DOCTYPE html>
<html>
<head>
  <title>Lumos</title>
  <%= stylesheet_link_tag    "stylesheets/docs", :media => "all" %>
  <%= javascript_include_tag "stylesheets/docs" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
