
%ul
  %h2 
    %img#thumb{:src => "/assets/fabericious.png", :alt => "Fabericious"}
    %br
    iResource Mock
    
  = semantic_form_for(@iresource) do |f| 
  
    .form-box  
      %br
      = f.input :score, :as => :number
      
      .buttons
        %ul
          %br
          = f.action :submit
        