<!DOCTYPE html>
<html>
<head>
  <title>Lti2Tp</title>
  <%= stylesheet_link_tag    "lti2_tp/application", media: "all" %>
  <%= javascript_include_tag "lti2_tp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
