:textile

  h3. LuMoS -- Register New Tool

%form{:method => "post", :action => "/admin/register_new_tool"}
  %fieldset
    %ol
      %li
        %label{:for => "msg[tp_registration_endpoint]"} Tool Provider Registration Address
        %input(type="text" name="registration_url" value="" maxlength="100")
    
      %li
        %label
        %input{:type => "submit", :value => "Create Link"}
          
:textile
  h2. To come here:
  
  h3. List of capabilities and services offered
  
  h4. Implications of capabilities
  
  h4. Allow admin to filter capabilities 