

/* Global Styles
----------------------------------------------------------------------*/
body {
  color: #3F3F3F;
  font-size: 12px;
  font-family: helvetica, arial, sans-serif; }

/* Links
----------------------------------------------------------------------*/
a {
  color: #FF2B06;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/* Text
----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: normal; }

h1 a {
  color: #000; }

h1 a.section {
  color: #999; }

h2 {
  font-size: 18px;
  margin-bottom: 1em; }

h3 {
  font-size: 14px;
  margin-bottom: 1em; }

h4 {
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 1px dotted #333;
  font-size: 12px; }

h5, h6 {
  margin-bottom: 10px;
  font-size: 12px; }

address, blockquote, form, p, pre, table,
dl, ol, ul {
  font-size: 12px;
  margin-bottom: 1em; }

blockquote {
  color: #797979; }

p {
  line-height: 1.35; }

p:last-child {
  margin-bottom: 0; }

/* Global Items
----------------------------------------------------------------------*/
hr {
  height: 0;
  margin: 15px 0;
  border: 0;
  border-bottom: 3px solid #ccc;
  font-size: 0;
  line-height: 0;
  clear: both; }

hr.dotted {
  height: 0;
  margin: 15px 0;
  border: 0;
  border-bottom: 1px dotted #838383;
  font-size: 0;
  line-height: 0; }

.actions {
  float: right;
  display: inline; }

p.intro {
  font-size: 16px;
  color: #666; }

.large {
  font-size: 16px;
  color: #666; }

.black,
p.large.black {
  color: #000; }

.grey {
  color: #666; }

span.note {
  font-size: 10px;
  font-style: italic; }

.lower {
  text-transform: lowercase; }

p.links {
  text-align: right; }

/* Global Items -> clear fields
---------------------------------------------*/
.clear_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  border-style: solid;
  border-color: transparent;
  color: #666; }

.clear_container {
  position: relative;
  float: left; }

/* Lists
----------------------------------------------------------------------*/
ul.bullets,
ul.bullets ul {
  list-style: disc;
  margin-left: 1.15em; }

ul.bullets.arrows {
  list-style: none;
  margin-left: 0; }

ul.bullets.arrows li {
  padding-left: 10px; }

ol {
  list-style: decimal;
  margin-left: 1.5em; }

ol ol {
  list-style: lower-alpha; }

ol ul {
  list-style: disc;
  margin-left: 1.15em; }

ul.bullets li,
ol li {
  margin-bottom: .5em; }

ul.bullets ul,
ul.bullets ol,
ol ul,
ol ol {
  margin-top: .5em; }

dl dt {
  font-weight: normal; }

dl dd {
  margin-bottom: 10px;
  color: #666;
  font-style: italic; }

/* Lists -> Item List
---------------------------------------------*/
/* Lists -> List Columns
---------------------------------------------*/
ul.listCol li {
  padding: 5px 0 5px 60px; }

ul.listCol li div.col {
  float: left;
  display: inline;
  width: auto;
  margin-left: -60px; }

ul.listCol.small li,
ul.listCol li.small {
  padding-left: 35px; }

ul.listCol.small li div.col,
ul.listCol li.small div.col {
  margin-left: -30px; }

ul.listCol.med li,
ul.listCol li.med {
  padding-left: 85px; }

ul.listCol.med li div.col,
ul.listCol li.med div.col {
  margin-left: -85px; }

ul.listCol.large li,
ul.listCol li.large {
  padding-left: 190px; }

ul.listCol.large li div.col,
ul.listCol li.large div.col {
  margin-left: -190px; }

/* Tables
----------------------------------------------------------------------*/
table,
table td,
table th {
  padding: 12px 0;
  vertical-align: top;
  text-align: left; }

table {
  width: 100%;
  padding: 0;
  border-collapse: collapse; }

table tr th {
  border-bottom: 1px solid #666;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase; }

table tr th a {
  color: #333; }

table tr th.asc a {
  padding-right: 12px; }

table tr th.desc a {
  padding-right: 12px; }


table tr td {
  border-bottom: 1px solid #ccc; }

table tr:hover td {
  background: #eee; }

table tr.date td {
  border-bottom: 1px dotted #ccc;
  color: #666;
  font-size: 10px;
  text-transform: uppercase; }

table tr.date:hover td {
  background: none; }

table tr.last td {
  border-bottom: 1px solid #333; }

table tr td.date,
table tr td.name {
  font-weight: bold; }

table tr td.actions {
  float: none;
  display: table-cell;
  text-align: right; }



/* @end */