
%ul
  %h2 
    %img#thumb{:src => "/assets/fabericious.png", :alt => "Fabericious"}
    %br
    Echo parameters
    
  = semantic_form_for(@echoes) do |f| 
  
    .form-box  
      %br
      parameters
      
      .buttons
        %ul
          %br
          = f.action :submit
        